### Matching & Populating Employee Database with CSV data

In [ ]:
import psycopg2
import psycopg2.extras
import pandas as pd

In [ ]:
csv_data = pd.read_csv('employee_data.csv', encoding='latin1')

In [ ]:
conn=None
cur=None
try:
    conn = psycopg2.connect(
            host = 'localhost',
            dbname = 'Employee',
            user = 'postgres',
            password = 'actionword',
            port = 5432
    )

    cur = conn.cursor()
    # cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    
    cur.execute('DROP TABLE IF EXISTS employee')
    
    create_script = """ CREATE TABLE IF NOT EXISTS employee (
        "EEID" VARCHAR(20),
        "Full Name" VARCHAR(100),
        "Job Title" VARCHAR(100),
        "Department" VARCHAR(100),
        "Business Unit" VARCHAR(100),
        "Gender" VARCHAR(10),
        "Ethnicity" VARCHAR(50),
        "Age" INTEGER,
        "Hire Date" VARCHAR(100),
        "Annual Salary" VARCHAR(100),
        "Bonus %" VARCHAR(100),
        "Country" VARCHAR(50),
        "City" VARCHAR(50),
        "Exit Date" VARCHAR(100)
    )
    """
    cur.execute(create_script)
    
    for index, row in csv_data.iterrows():
            row_values = tuple(row)
            placeholders = ','.join(['%s'] * len(row))
            insert_script = f"INSERT INTO employee VALUES ({placeholders})"
            cur.execute(insert_script, row_values)

    cur.execute('SELECT * FROM employee')
    print(cur.fetchall())
      

    conn.commit()
    
    
except Exception as error:
    print("Error message: ", error)
    
    
finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

In [ ]:
%load_ext sql

In [ ]:
%%sql
postgresql://postgres:actionword@localhost:5432/Employee
SELECT * FROM employee